<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Argentina</title>
    <!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <!-- Header -->
	<header class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-2">
					<a href="/" class="main-header_home-link">
						<img src="/images/logo-mercado-liebre.svg">
					</a>
				</div>

				<div class="col-7 col-md-6">
					<form action="" method="get" class="search-form">
						<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>

				<div class="col-12 col-md-4">
					<a href="#" class="main-header_credit-link">
						<i class="fas fa-hand-holding-usd"></i>
						Comprá en cuotas y sin tarjeta de crédito
					</a>
				</div>
			</div>

			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>

			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="#">Ofertas</a></li>
					<li><a href="#">Tiendas Oficiales</a></li>
					<li><a href="#">Vender</a></li>
					<li><a href="#">Ayuda</a></li>
				</ul>

				<ul class="right-navbar">
					<li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
					<li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
					<li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="container">
		<div class='row'>
			<div class='col-12'>
				<h2 class="products-title"> Detalles del producto: <%=producto.name%></h2>
			</div>
			<div class = 'col-12'>
				<section class= 'caja-producto-data'>
				  <article class='caja-producto'>
					<img class='foto-producto' src='/images/<%=producto.image%>' alt='imagen de producto'>
					<h2 class="Descripcion-producto"><%=producto.description%></h2>
					

				  </article>
				  <article class='caja-data'>
					  <h2 class='nombre-producto'> <%=producto.name%></h2>
					 <article class= 'contenedorDescuento'> 
						<% if(producto.discount == 0){ %>
							<%=''%><%}
							else{ %>
					  <p class= 'precio-original'>$<%=producto.price%> </p><% } %>
					  <% if(producto.discount == 0){ %>
						<%=''%><%}
						else{ %>
					  <p class= 'descuento' >/  <%=producto.discount%>% OFF </p><% } %>
					</article>
					<% let precioFinal = (producto.price)-((producto.price)*((producto.discount)/100))%>
					  <h1 class= 'precio-final'>$ <%=toThousand(precioFinal) %></h1>
					  <p class='formaDePago'><i class="fas fa-credit-card"></i>  
                         Paga en 12 cuotas sin interes</p>
					  <p class='RetiroProducto'><i class="fas fa-store"></i>  
						Retiro gratis en locales del vendedor</p>
					  <a href='' class='comprarAhora'>COMPRAR AHORA</a>
					  
					
					 <form method="POST" action="/products/delete/<%=productoEncontrado.id%>?_method=DELETE">
					  <button type='submit' class='comprarAhora'>Delete</button>
					</form > 
					  
					<a href='/products/edit/<%=producto.id%>' class='comprarAhora'>Editar</a>



				  </article>
				</section>

			</div>

		</div>
	</div>






	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>	
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>	
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>	
					</article>
				</div>
			</div>
		</div>
	</footer>
	<div class="sub-footer">
		<div class="container">
			<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
		</div>
	</div>
</body>
</html>